extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
  .row
    .col-xs-12.col-sm-8
    
      .panel.panel-primary
        .panel-heading
          h2.panel-title Doctor Login
        
         
     
