extends layout

block nav
   .navbar-header
            a.navbar-brand(href='/doctor') H2 - Health Help
            a.navbar-brand(action = sendRequest, href='/doctor/info') About
            a.navbar-brand(href='/') Logout
            button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar
        

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
        h3= patient
        h3= type
  .row
    .col-xs-12.col-sm-8
      
      input(type="text", name="scroll" ,class="scrollabletextbox", value= values)
    
      a.btn.btnbtn.btn-large.btn-pull-right(href="/"+role) Back