extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
  .row
    .col-xs-12.col-sm-8
    
      .panel.panel-primary
        .panel-heading
          h2.panel-title Doctor Login
        .panel-body
          form.form-signin(action="", method="post", name="doctor")
            div.input
                span.label Userame
                input(type="text", name="username", cols="100", rows="1", placeholder= "i.e. mario.rossi")
            div.input
                span.label Password
                input(type="password", name="password", cols="100", rows="1", placeholder= "password")
            div.input
                input(type="text", name="role", value="doctor" style="display:none;")
            div.actions
              button.btn.btn-large.btn-primary(type="submit") Sign in


      .panel.panel-primary
        .panel-heading
          h2.panel-title Patient Login
        .panel-body
          form.form-signin(action="", method="post", name="patient")
            div.input
                span.label Userame
                input(type="text", name="username", cols="100", rows="1", placeholder= "i.e. giulia.lucchi")
            div.input
                span.label Password
                input(type="password", name="password", cols="100", rows="1", placeholder= "password")
            div.input
                input(type="text", name="role", value="patient" style="display:none;")
            div.actions
              button.btn.btn-large.btn-primary(type="submit") Sign in
         
     
