doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/solar.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    block scriptWebSocket



  body
    block notifications
    .navbar.navbar-default.navbar-fixed-top
      .container
        block nav

          
  .container
    block content

    footer
      .row
        .col-xs-12
          small &copy; H2 Team @ Unibo - 2018
