doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') H2 - Control Unit
          button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        


  .container
    block content

    footer
      .row
        .col-xs-12
          small &copy; H2 Team @ Unibo - 2018
  script(src='/javascripts/jquery-1.11.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
