#IDE File
.idea

# Compiled class file
*.class

# Log file
*.log
.directory

# BlueJ files
*.ctxt

#generated folder
build/
out/
.gradle/
Association RESTful API/node_modules
H2-db RESTful API/node_modules
Association RESTful API/package-lock.json
H2-db RESTful API/package-lock.json

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
